.hero {
  height: 100dvh;
}

.btn-primary {
  background-color: blueviolet;
}

.btn-primary:hover {
  background-color: rgb(226, 43, 171);
}

.descbox{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}